EXTERNAL_IP=0.0.0.0
TURN_REALM=yourdomain.com
TURN_DOMAIN=turn1.yourdomain.com

# TURN сервер обычный (UDP/TCP, без TLS)
TURN_URL_UDP=turn:turn1.yourdomain.com:3478?transport=udp
TURN_URL_TCP=turn:turn1.yourdomain.com:3478?transport=tcp

# TURN сервер через TLS (TLS over 5349)
TURNS_URL_UDP=turns:turn1.yourdomain.com:5349?transport=udp
TURNS_URL_TCP=turns:turn1.yourdomain.com:5349?transport=tcp

TURN_SECRET=yoursecretpassword

# Nginx Gateway
NGINX_SERVER_NAME=yourdomain.com
NGINX_SERVER_NAMES='yourdomain.com www.yourdomain.com'
SSL_CERTIFICATES=false