version: "3.9"

services:
  gateway:
    image: nginx:latest
    container_name: gateway
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - main
      - auth_reg
      - rooms
      - webrtc_front
    restart: unless-stopped

  main:
    build: ./chat_main
    container_name: chat_main
    expose:
      - "8010"
    volumes:
      - ./chat_main:/app
    restart: unless-stopped

  auth_reg:
    build: ./auth_reg
    container_name: auth_reg
    expose:
      - "8009"
    volumes:
      - ./auth_reg:/app
    restart: unless-stopped

  rooms:
    build: ./rooms
    container_name: rooms
    expose:
      - "8013"
    volumes:
      - ./rooms:/app
    restart: unless-stopped

  webrtc_front:
    build: ./webrtc_front
    container_name: webrtc_front
    expose:
      - "3000"
    depends_on:
      - turn_server
    restart: unless-stopped

  turn_server:
    image: instrumentisto/coturn:latest
    container_name: turn_server
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./turn_server/turnserver.conf:/etc/turnserver.conf:ro
    environment:
      - TURN_REALM=weplok.ru
    command: ["turnserver", "-c", "/etc/turnserver.conf"]
