version: "3.9"

services:
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - /etc/letsencrypt/live/${NGINX_SERVER_NAME}/fullchain.pem:/certs/fullchain.pem:ro
      - /etc/letsencrypt/live/${NGINX_SERVER_NAME}/privkey.pem:/certs/privkey.pem:ro
    ports:
      - "80:80"
    depends_on:
      - chat_main
      - auth_reg
      - rooms
      - webrtc_front
    restart: unless-stopped

  chat_main:
    build: ./chat_main
    container_name: chat_main
    expose:
      - "8010"
    volumes:
      - ./chat_main:/app
    restart: unless-stopped

  auth_reg:
    build: ./auth_reg
    container_name: auth_reg
    expose:
      - "8009"
    volumes:
      - ./auth_reg:/app
    restart: unless-stopped

  rooms:
    build: ./rooms
    container_name: rooms
    expose:
      - "8013"
    volumes:
      - ./rooms:/app
    restart: unless-stopped

  webrtc_front:
    build: ./webrtc_front
    container_name: webrtc_front
    environment:
      TURN_URL_UDP: ${TURN_URL_UDP}
      TURN_URL_TCP: ${TURN_URL_TCP}
      TURNS_URL_UDP: ${TURNS_URL_UDP}
      TURNS_URL_TCP: ${TURNS_URL_TCP}
      TURN_SECRET: ${TURN_SECRET}
    expose:
      - "3000"
    restart: unless-stopped

  turn_server:
    build:
      context: ./turn_server
      dockerfile: Dockerfile
    container_name: turn_server
    network_mode: host
    user: root
    restart: always
    env_file: .env
    volumes:
      - turn_logs:/var/log/turnserver
      - /etc/letsencrypt/live/${TURN_DOMAIN}/fullchain.pem:/certs/fullchain.pem:ro
      - /etc/letsencrypt/live/${TURN_DOMAIN}/privkey.pem:/certs/privkey.pem:ro

volumes:
  turn_logs: