version: "3.9"

services:
  gateway:
    image: nginx:latest
    container_name: gateway
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - main
      - auth_reg
      - rooms
      - webrtc_front
    restart: unless-stopped

  main:
    build: ./chat_main
    container_name: chat_main
    expose:
      - "8010"
    volumes:
      - ./chat_main:/app
    restart: unless-stopped

  auth_reg:
    build: ./auth_reg
    container_name: auth_reg
    expose:
      - "8009"
    volumes:
      - ./auth_reg:/app
    restart: unless-stopped

  rooms:
    build: ./rooms
    container_name: rooms
    expose:
      - "8013"
    volumes:
      - ./rooms:/app
    restart: unless-stopped

  webrtc_front:
    build: ./webrtc_front
    container_name: webrtc_front
    environment:
      TURN_URL_UDP: ${TURN_URL_UDP}
      TURN_URL_TCP: ${TURN_URL_TCP}
      TURNS_URL_UDP: ${TURNS_URL_UDP}
      TURNS_URL_TCP: ${TURNS_URL_TCP}
      TURN_SECRET: ${TURN_SECRET}
    expose:
      - "3000"
    depends_on:
      - turn_server
    restart: unless-stopped

  turn:
    image: coturn/coturn:latest
    container_name: turn_server
    restart: always
    network_mode: "host"
    environment:
      EXTERNAL_IP: ${EXTERNAL_IP}
      TURN_REALM: ${TURN_REALM}
      TURN_SECRET: ${TURN_SECRET}
    volumes:
      - ./turn_server/turnserver.conf:/etc/turnserver.conf:ro
      - /etc/letsencrypt/live/turn1.weplok.ru/fullchain.pem:/certs/fullchain.pem:ro
      - /etc/letsencrypt/live/turn1.weplok.ru/privkey.pem:/certs/privkey.pem:ro
      - turn_logs:/var/log/turnserver
    entrypoint: ["/entrypoint.sh"]
    command: [ "-c", "/etc/turnserver.conf" ]

volumes:
  turn_logs: