worker_processes auto;

events {}

http {
    server {
        listen 80;
        server_name ${NGINX_SERVER_NAMES};

        include /etc/nginx/locations.conf;
    }

    # SSL-сервер подключается, если SSL_CERTIFICATES=true
    include /etc/nginx/ssl.conf;
}
